<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/newSongStyle.css}">

</head>
<body>
<h1>Add a New Song</h1>
<form action="addSong" method="post">
<label>Song Name: </label>
<input type="text" name="name">
<br><br>
<label>Artist Name: </label>
<input type="text" name="artist">
<br><br>
<label>Genre: </label>
<input type="text" name="genre">
<br><br>
<label>Link: </label>
<input type="text" name="link">
<br><br>
<input type="submit" value="ADD SONG">

</form>

</body>
</html>